body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #f8f8f8;
  padding: 10px;
}

h1 {
  margin: 0;
}

main {
  padding: 20px;
}

form {
  display: flex;
}

#search-input {
  flex-grow: 1;
  padding: 10px;
  font-size: 18px;
}

input[type="submit"] {
  padding: 10px;
  font-size: 18px;
  background-color: #4285F4;
  color: #fff;
  cursor: pointer;
  border: none;
}

input[type="submit"]:hover {
  background-color: #3367D6;
}
