/* styles.css */

/* リセットCSS */
body, figure, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ul, ol, li, pre, form, fieldset, blockquote, th, td, hr {
  margin: 0;
  padding: 0;
}

/* ヘッダー */
header {
  background-color: #4285f4;
  color: #fff;
  padding: 20px;
}

header h1 {
  font-size: 28px;
}

nav ul {
  list-style-type: none;
}

nav ul li {
 
